---
title: "Resume"
layout: default
permalink: "/resume.html"
---
<pre><code># Anirudh Srinivasa Raghavan

    [link to document resume](https://drive.google.com/file/d/1dddg5L81_BDzsmjDtB_7lCnMLQJB3BsA/view?usp=sharing)
    
    ## EDUCATION
    
    -<span class="ruby"> **Rutgers University, New Brunswick — New Jersey, USA** 
    </span>  -<span class="ruby"> MS <span class="hljs-keyword">in</span> Computer Science 
    </span>  -<span class="ruby"> Batch :  August <span class="hljs-number">2022</span> - <span class="hljs-number">2024</span> (present)
    </span>  -<span class="ruby"> CGPA : <span class="hljs-number">3.75</span>/<span class="hljs-number">4</span> (<span class="hljs-keyword">until</span> Spring <span class="hljs-number">2022</span>)
    </span>-<span class="ruby"> **PES University- Bangalore, India**
    </span>   -<span class="ruby"> BTech, Computer Science
    </span>   -<span class="ruby"> Year : Aug <span class="hljs-number">2018</span> - May <span class="hljs-number">2022</span>
    </span>   -<span class="ruby"> CGPA : <span class="hljs-number">8.69</span>/<span class="hljs-number">10</span>
    </span>
    
    ## PROJECTS
    
    -<span class="ruby"> **Pneumonia Detection using CNN, keras** ( DL ) (using chest X-ray images) [Apr’<span class="hljs-number">22</span>-present]
    </span>    -<span class="ruby"> CNN implementation with GLCM. Using X-ray Dataset from Kaggle.
    </span>    -<span class="ruby"> Currently working on optimization of the model.
    </span>
    -<span class="ruby"> **Project Smart Radio Telescope (SmART)** (The Astronomy Club Manipal)
    </span>    -<span class="ruby"> A smart radio telescope (SmART) with DSP, ML <span class="hljs-keyword">and</span> AI based capabilities to perform with better accuracy than manual radio telescope; powered with star tracker, <span class="hljs-keyword">and</span> barn-door tracker.
    </span>
    -<span class="ruby"> **Project Climatious ( Recommender System + DL )** (<span class="hljs-symbol">Faculty:</span> Mr.Tribikram, Mrs.Swathi , Ms.Pujari) [Mar’<span class="hljs-number">22</span>-present]
    </span>  -<span class="ruby"> Submitted <span class="hljs-symbol">work:</span> (B.Tech Course Project — ICT <span class="hljs-number">3264</span>, <span class="hljs-number">3265</span>, <span class="hljs-number">3266</span>)
    </span>     -<span class="ruby"> Tracking the increasing non-biodegradable material usage <span class="hljs-keyword">for</span> various e-commerce products &amp; ”green” rating them.
    </span>     -<span class="ruby"> Python based Recommender System using Collaborative Filtering with correlation of <span class="hljs-number">90</span>% - <span class="hljs-number">99.99</span>% based on category &amp; user ratings using Amazon Products Dataset. (MERN) web &amp; flutter app implementation of project.
    </span>
    -<span class="ruby"> **Data Visualization &amp; Understanding using Tableau &amp; Data Analytics using python** (microProjects) [Feb’<span class="hljs-number">22</span>]
    </span>    -<span class="ruby"> Created various statistical visualisations <span class="hljs-keyword">and</span> performed statistical analysis on COVID-<span class="hljs-number">19</span> dataset <span class="hljs-keyword">in</span> python.
    </span>    -<span class="ruby"> Created dashboard using Tableau / Google Data Studio <span class="hljs-keyword">for</span> COVID-<span class="hljs-number">19</span>, sales, wine testing &amp; trafficking dataset.
    </span>    -<span class="ruby"> Drawing conclusions based on the visualizations.
    </span>
    -<span class="ruby"> **SVM implementation on PIMA dataset** ( ML ) (Diabetes Detection) [Feb’<span class="hljs-number">22</span>]
    </span>    -<span class="ruby"> Achieved a base with input data frame shape (<span class="hljs-number">768</span> , <span class="hljs-number">9</span>) accuracy score of <span class="hljs-number">78.5</span>% with input data &amp; <span class="hljs-number">76.7</span>% with test data.
    </span>
    -<span class="ruby"> **Gaussian Naive Bayes Implementation to prove no generalized correlation failure &amp; launch day** [premium made up science project]
    </span>    -<span class="ruby"> Space Missions dataset from Kaggle [<span class="hljs-number">2897</span> train + <span class="hljs-number">1427</span> test data]
    </span>    -<span class="ruby"> Obtained maximum of <span class="hljs-number">90.11</span>% accuracy suggesting no correlation between day {Sun, Mon, Tue, etc} <span class="hljs-keyword">and</span> launch company given <span class="hljs-number">92</span>% data suggests success of the mission. [incomplete pattern]
    </span>    -<span class="ruby"> This further suggests the possibility of rocket scientists showing no <span class="hljs-string">"significant"</span> bias <span class="hljs-keyword">in</span> their behavior <span class="hljs-keyword">or</span> emotions towards a particular day.
    </span>    -<span class="ruby"> <span class="hljs-symbol">:</span>)
    </span>
    
    ## Current Scientific Study
    
    -<span class="ruby"> **PROJECT CLIMATIOUS** - Climate Conscious World   [Mar <span class="hljs-number">2022</span> - present]
    </span>  -<span class="ruby"> Stage <span class="hljs-number">1</span> [Mar <span class="hljs-number">2022</span> - Apr <span class="hljs-number">2022</span>]
    </span>    -<span class="ruby"> Finding a better approach to the method suggested <span class="hljs-keyword">in</span> the research paper - <span class="hljs-string">"*Jianmo Ni, Jiacheng Li, J. M., March 2019. Justifying recommendations using distantly-labeled reviews and fined-grained aspects EMNLP*"</span>
    </span>    -<span class="ruby"> Using Collaborative filtering to obtain higher quality recommendations.
    </span>  -<span class="ruby"> Stage <span class="hljs-number">2</span> [Apr <span class="hljs-number">2022</span> - present]
    </span>    -<span class="ruby"> Material Recognition And Classifier using DL
    </span>    -<span class="ruby"> Recognition of materials using image source followed with estimating composition of the object. 
    </span>    -<span class="ruby"> Subjecting the above results to probabilistic approach <span class="hljs-keyword">in</span> determining their impact on the environment.
    </span>
    -<span class="ruby"> **LIMONA** - LInear Microchip-On-Neuron Assembly (Comprehensive Microchip-on-Neuron Integrating Interface)[Oct <span class="hljs-number">2021</span> - present]
    </span>  -<span class="ruby"> Theoritical interfacing assembly unit <span class="hljs-keyword">for</span> integrating microchip on a human neurons.
    </span>  -<span class="ruby"> In layman terms, attachment of a virus is achieved <span class="hljs-keyword">when</span> specific proteins on the viral capsid <span class="hljs-keyword">or</span> viral envelope bind to specific proteins called receptor proteins on the cell membrane of the target cell. How this can be implemented artificially using circuits &amp; code?
    </span>
    -<span class="ruby"> **Time Efficient Data Storage {TEDS} Model &amp; Algorithms <span class="hljs-keyword">for</span> Bio-Computers** [Aug <span class="hljs-number">2021</span> - present]
    </span>  -<span class="ruby"> Model depicting time efficient implementation of organic biomolecules <span class="hljs-keyword">for</span> storage.
    </span>  -<span class="ruby"> Research on implementation of non-binary base system at molecular level as a way to improve readability <span class="hljs-keyword">and</span> computational speeds. 
    </span>  -<span class="ruby"> Development of a base-<span class="hljs-number">12</span> math from scratch.
    </span>
    
    ## INTERESTED IN
    
    -<span class="ruby"> **Haptic Holographic Technology** - Holograms with Touch Sensation.
    </span>  -<span class="ruby"> Currently, these haptic feedbacks from interactive holograms developed by various firms, such as Asukanet <span class="hljs-keyword">or</span> <span class="hljs-keyword">in</span> colleges/ universities such as Glasgow University use sound waves technology. Some day soon, I wish to make usage of more effective methods to better the haptic feedback received <span class="hljs-keyword">when</span> interacting with the holographic projections.
    </span>
    -<span class="ruby"> **Sequential Decision-making under uncertainty**
    </span>  -<span class="ruby"> Forming definable boundaries numeric <span class="hljs-keyword">in</span> nature to cater <span class="hljs-keyword">for</span> ease <span class="hljs-keyword">in</span> determining decisions based on various abilities of humans.
    </span>  -<span class="ruby"> Optimizing human strategies <span class="hljs-keyword">and</span> approach using heterogeneous data.
    </span>
    
    
    
    ## SKILLS
    
    **Coding Lang.** : (proficient) Python, Java, C, C++, HTML, CSS, (familiarity) Julia, JavaScript,  (database) MySQL , OracleSQL
    
    **Tools &amp; Libraries** : (proficient) Jupyter, Numpy, Scipy, Tableau, (familiarity) ThreeJS, OpenCV*, Tensorflow*, Keras*
    
    **MISC** : (familiarity) KiCAD, Kiel uVision 5, Gromacs (Bio-molecule Simulator), Tkinter Framework, 
    
    &gt; [Proficiency refers to over 1000 Lines of Mature code]
    &gt; [Familiarity refers to under 1000 Lines of Mature code]
    ### Fields Of Interest
    {priority}
    -<span class="ruby"> Data Science {ML, DL}
    </span>-<span class="ruby"> Bio-computing (Bioinformatics)
    </span>-<span class="ruby"> Statistics
    </span>-<span class="ruby"> R &amp; D
    </span>-<span class="ruby"> UI/UX 
    </span>
    
    
    ### EXTRA-CURRICULARS
    
    -<span class="ruby"> **SSS Subsystem at [Project Vision MIT](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/www.linkedin.com/company</span><span class="hljs-regexp">/project-vision-mit/</span>)**
    </span>  -<span class="ruby"> Created PCB design of Integrator Circuit <span class="hljs-keyword">for</span> Leap Motion on KiCAD.
    </span>  -<span class="ruby"> Working on PCB &amp; coding <span class="hljs-keyword">for</span> programmable circuits.
    </span>  -<span class="ruby"> Working on development &amp; programming of PCB <span class="hljs-keyword">for</span> data collection <span class="hljs-keyword">in</span> Manipal Lake. (environmental related)
    </span>-<span class="ruby"> **Board at [The Astronomy Club Manipal](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/www.linkedin.com/company</span><span class="hljs-regexp">/the-astronomy-club-manipal/</span>)**
    </span>    {Jul 2021 to present}
        -<span class="ruby"> Developed a plan based on agile principles along with newer &amp; improvised workflows.
    </span>    -<span class="ruby"> Handled Graphics dept. &amp; trained them with UX <span class="hljs-keyword">and</span> GD Concepts. Supervised a few Tech projects <span class="hljs-keyword">for</span> a brief time.
    </span>    -<span class="ruby"> **Web dev &amp; App dev supervisor**
    </span>      -<span class="ruby"> Designed club website.
    </span>      -<span class="ruby"> Community application <span class="hljs-keyword">for</span> Astronomy Enthusiasts. (Java)
    </span>  -<span class="ruby"> **Management Committee** {Jul’<span class="hljs-number">20</span> to Jul’<span class="hljs-number">21</span>}
    </span>    -<span class="ruby"> Over <span class="hljs-number">200</span>+ designs, <span class="hljs-number">5</span> sw UI concepts, <span class="hljs-number">3</span> sw UX projects &amp; designed the current club logo.
    </span>    -<span class="ruby"> Managed Graphics Team successfully to improvise social media interaction results by <span class="hljs-number">39.5</span>% <span class="hljs-keyword">in</span> <span class="hljs-number">2.5</span> months.
    </span>
    
    ### LANGUAGES
    -<span class="ruby"> English
    </span>-<span class="ruby"> Hindi
    </span>-<span class="ruby"> Gujarati
    </span>-<span class="ruby"> French
    </span>-<span class="ruby"> Marathi
    </span>-<span class="ruby"> Telugu
    </span>-<span class="ruby"> Russian (hobby)
    </span>
    ## SOCIALS
    
    -<span class="ruby"> SOCIAL PRESENCE
    </span>  -<span class="ruby"> **Linktr.ee**     [@gonewithharshwinds](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/linktr.ee/gonewithharshwinds</span>)
    </span>  -<span class="ruby"> **GitHub**        [@gonewithharshwinds](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/www.github.com/gonewithharshwinds</span>)
    </span>  -<span class="ruby"> **LinkedIn**     [@goneharsh](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/www.linkedin.com/in</span><span class="hljs-regexp">/goneharsh/</span>)
    </span>  -<span class="ruby"> **Instagram**  [@gonewith_harsh_winds](<span class="hljs-symbol">https:</span>/<span class="hljs-regexp">/www.instagram.com/gonewith</span>_harsh_winds)
    </span>-<span class="ruby"> EMAIL ME
    </span>  -<span class="ruby"> [gonewithharshwinds@gmail.com](<span class="hljs-symbol">mailto:</span>gonewithharshwinds@gmail.com)
    </span>  -<span class="ruby"> [harsh.mehta1@learner.manipal.edu](<span class="hljs-symbol">mailto:</span>harsh.mehta1@learner.manipal.edu)</span>
    </code></pre>